{% extends 'Front/base.html.twig' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Ajouter un objectif</h2>
                    <p>“Avoir des objectifs est non seulement nécessaire pour nous motiver, mais c’est essentiel pour que nous restions en vie.” </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Ajout d'un objectif</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->


    <div class="container mt -4">
        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-8"> {{ form_row(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"> {{ form_row(form.reponse) }}</div>
            <div class="col-md-2"> {{ form_row(form.duree) }}</div>
            <div class="col-md-2"> {{ form_row(form.datedebut) }}</div>
        </div>
        <div class="row">
        </div>
        {{ form_rest(form) }}
        <br>
        <button class="btn btn-primary"> Ajouter</button>
        {{ form_end(form) }}
        <br>
    </div>
{% endblock %}