{% extends 'Front/base.html.twig' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
<div class="container mt -4">
    <h1>Modifier un objectif</h1>
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-9"> {{ form_row(form.description) }}</div>
    </div>
    <div class="row">
        <div class="col-md-3"> {{ form_row(form.reponse) }}</div>
        <div class="col-md-3"> {{ form_row(form.datedebut) }}</div>
        <div class="col-md-3"> {{ form_row(form.duree) }}</div>
    </div>
        {{ form_rest(form) }}
    <br>
    <button class="btn btn-primary"> Modifier</button>
    {{ form_end(form) }}
    <br>
</div>
{% endblock %}