{% extends 'Back/base.html.twig' %}

{% block css %}
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assetsBack/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assetsBack/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Aura</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/flashy.css') }}">
    <link href="{{ asset('assetsBack/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assetsBack/css/light-bootstrap-dashboard.css?v=2.0.0')}} " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ asset('assetsBack/css/demo.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="container mt -4" style="margin-right: 110px">
        <h3>Gérer les objectifs prédéfinis</h3>
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('ajouterObjectifPred')}}" class="btn btn-primary">Ajouter un objectif</a>
            <button id="button" type="button" class="btn btn-outline-default btn-rounded waves-effect">	<a href="{{ 'triObjectifPredRep' }}"  class="at-linkactive">Trier par réponse </a></button>
            <button id="button" type="button" class="btn btn-outline-default btn-rounded waves-effect">	<a href="{{ 'triObjectifPredDesc' }}"  class="at-linkactive">Trier par description </a></button>
            <input type="text" id="search" class="form-control" placeholder="Search">
        </div>
        <div id="Table">
        <table id="tableObj" class="table table-striped">
            <script src="{{ asset('/assets/js/jquery-3.3.1.min.js') }}"></script>
            <thead>
            <tr>
                <th>Description</th>
                <th>Réponse</th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in objectifs %}
            <tr>
                <td>{{ objectif.description }}</td>
                <td>{{ objectif.duree }}</td>
                <td>
                    <a href="{{ path('modifierObjectifPred', {id: objectif.id}) }}" class="btn btn-secondary">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('supprimerObjectifPred', {id: objectif.id}) }}" class="btn btn-danger" >Supprimer</a>
                </td>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableObj tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();
                    }
                    else
                    {
                        $(this).hide();
                    }
                });
            }
        });
    </script>

    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('assets/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {% for message in app.flashes('mercuryseries_flashy_notification') %}
        <script id="flashy-template" type="text/template">
            <div class="flashy flashy--{{ message.type }}">
                <a class="flashy__body" href="#" target="_blank"></a>
            </div>
        </script>

        <script>
            flashy("{{ message.message }}", "{{ message.link }}");
        </script>
    {% endfor %}

    <!--   Core JS Files   -->
    <script src="{{ asset('assetsBack/js/core/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assetsBack/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assetsBack/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{{ asset('assetsBack/js/plugins/bootstrap-switch.js') }}"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!--  Chartist Plugin  -->
    <script src="{{ asset('assetsBack/js/plugins/chartist.min.js') }}"></script>
    <!--  Notifications Plugin    -->
    <script src="{{ asset('assetsBack/js/plugins/bootstrap-notify.js') }}"></script>
    <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
    <script src="{{ asset('assetsBack/js/light-bootstrap-dashboard.js?v=2.0.0')}} " type="text/javascript"></script>
    <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
    <script src="{{ asset('assetsBack/js/demo.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

            demo.showNotification();

        });
    </script>
{% endblock %}
