<div style="text-align: center;">
{{ form_start(form) }}

    <div style="display:flex;">

       <a>{{ form_row(form.lieu) }}</a>  <a>{{ form_row(form.description) }}</a> {{ form_row(form.nombremax) }}
<div >    <button  style="align-items: center" type="submit" class="btn btn-primary ">Filtrer</button>
</div>
    </div>

{{ form_end(form) }}
</div>