{% block title %}
  <title>Aura</title>
{% endblock %}

{% block link %}
{% endblock %}


{% block css %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href={{ asset('assets/img/favicon.png')}} rel="icon">
  <link href={{ asset('assets/img/apple-touch-icon.png') }} rel="apple-touch-icon">  <!-- Google Fonts -->
  <link href={{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }} rel="stylesheet">
  <link href={{ asset('assets/vendor/aos/aos.css') }} rel="stylesheet">
  <link href={{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }} rel="stylesheet">
  <link href={{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"" rel="stylesheet">
  <link href={{ asset('assets/vendor/boxicons/css/boxicons.min.css') }} rel="stylesheet">
  <link href={{ asset('assets/vendor/glightbox/css/glightbox.min.css') }} rel="stylesheet">
  <link href={{ asset('assets/vendor/swiper/swiper-bundle.min.css') }} rel="stylesheet">
  <link rel="stylesheet" href={{ asset('fonts/material-icon/css/material-design-iconic-font.min.css') }}>
  <link href={{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }} rel="stylesheet">
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">




  <!-- Template Main CSS File -->
  <link href={{ asset('assets/css/style.css') }} rel="stylesheet">
{% endblock %}

{% block js %}
  <!-- Vendor JS Files -->
  <script src={{ asset('assets/vendor/aos/aos.js') }}></script>
  <script src={{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}></script>
  <script src={{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}></script>
  <script src={{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}></script>
  <script src={{ asset('assets/vendor/php-email-form/validate.js') }}></script>
  <script src={{ asset('assets/vendor/purecounter/purecounter.js') }}></script>
  <script src={{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}></script>
  <script src={{ asset('assets/vendor/waypoints/noframework.waypoints.js') }}></script>
  <script src={{ asset('vendor/jquery/jquery.min.js') }}></script>
  <script src={{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}></script>
  <link href={{ asset('assets/vendor/bootstrap/js/bootstrap.min.js') }} rel="stylesheet">




  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}


{% block header %}
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.role=='ClientN' %}
          <p style="color: red">Veuillez verifier votre compte!</p>
        {% endif %}
      {% endif %}
      <div class="logo">
        <h1 class="text-light"><a href={{ path('home') }}>Aura</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul style="margin-right:100px ">
          <li ><a class="active" href={{ path('home') }}>Acceuil</a></li>

          <li><a href="{{ path('listactclient') }}">Evenements</a></li>
          <li><a href="{{ path('mesObjectifs') }}">Objectifs</a></li>
          <li><a href="{{ path('listArticle1') }}">Articles</a></li>
          <li class="dropdown"><a href="#"><span>Challenges</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="/challenge_list" >Les Challenges  </a></li>


              <li><a href="/MesChallenges/" >Mes challenges  </a></li>
              </ul>

          </li>
          <li><a href="/classement/home">Classement </a></li>


          <li><a href="{{ path('afficherentraidefront') }}">Entraide</a></li>
          <li><a href="{{ path('ajoutercontact') }}">Contact</a></li>


          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href={{ path('ProfilClient') }}>Mon profil</a></li>

            <li><a href="{{ path('logout') }}">Se deconnecter</a></li>
            <li><p>Bienvenue: </p></li>

            <li><p> {{ app.user.nom }}  </p></li>
            <li><p> {{ app.user.prenom }}  </p></li>



          {% else %}
            <li><a href="{{ path('ClientCreateAccount') }}">Creer un compte</a></li>
            <li ><a href="{{ path('loginFront') }}">Se connecter</a>
            </li>




          {% endif %}

        </ul>







        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

{% endblock %}

{% block content %}


{% endblock %}

{% block footer %}



  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Aura</h3>
            <p> Inspirez le positif.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><a href="{{ path('home') }}">Accueil</a></li>
              <li><a href="{{ path('mesObjectifs') }}">Objectif</a></li>

              <li><a href="{{ path('listactclient') }}">Articles</a></li>

              <li><a href="{{ path('ClientCreateAccount') }}">Creer un compte </a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactez-nous</h4>
            <p>
              1,2 rue Andre Ampere <br>
              2083 - Pole Technologique<br>
              El Ghazala <br>
              <strong>Phone:</strong> +216 98 258 963<br>
              <strong>Email:</strong> info@aura.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Notre Newsletter</h4>
            <p>Abonnez-vous a notre newsletter pour avoir nos nouveautes.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Inscrire">

            </form>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}

            <a style="color: white" href="{{ path('loginBack') }}"> Se Connecter en tant qu'administrateur</a>
          </div>
          {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Aura</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->






{% endblock %}

