{% extends 'Back/base.html.twig' %}

{% block content %}

    <div class="container mt -4" style="margin-right: 110px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Article</h4>


                        </div>
                        <div class="content table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>titre</th>
                                <th>theme</th>
                                <th>nomAuteur</th>
                                <th>date</th>
                                <th>article</th>
                                <th>review</th>
                                <th>edit</th>
                                <th>Supprimer</th>
                                <th>approuver</th>
                                </thead>
                                <tbody>
                                {% for activite in Article %}
                                    <tr>
                                        <td>{{ activite.titre }}</td>
                                        <td>{{ activite.theme}}</td>
                                        <td>{{ activite.nomAuteur}}</td>
                                        <td>{{ activite.date}}</td>
                                        <td>{{ activite.article}}</td>




                                        <td><a href="{{ asset('/uploads/' ~ activite.article) }}"> review</a>

                                        <td><a  href="{{ path("modifierArticleback",{"id":activite.id}) }}">edit</a>


                                        <td> <form method="post" action="{{ path ('supprimerArticle', {'id' : activite.id})}}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-success">remove</button>
                                            </form>

                                        <td> <form method="post" action="{{ path ('approuver1', {'id' : activite.id})}}">
                                                <input type="hidden" name="_method" value="APP">
                                                <button class="btn btn-success">approuver</button>
                                            </form>


                                        </td>

                                    </tr>
                                {% endfor %}



                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>



{% endblock %}